<!--<app-buttons-section></app-buttons-section>
<app-inputs-section></app-inputs-section>
<app-crs-section></app-crs-section>
<app-navigation-section></app-navigation-section>
<section class="section section-components">
  <app-tabs-section></app-tabs-section>
  <app-alerts-section></app-alerts-section>
  <app-typography-section></app-typography-section>
  <app-angular-section></app-angular-section>
</section>-->
<section class="section section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h2 class="text-white font-weight-light">Les principales assurances que nous offrons</h2>
        <p class="lead text-white mt-4">L'assurance auto et habitation sont les plus demandées , vous pouvez voir d'autres assurances</p>
        <a [routerLink]="['/assurances']" class="btn btn-white mt-4">Voir toutes les assurances</a>
      </div>
      <div class="col-lg-6 mb-lg-auto">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
          <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/assur-auto.jpg" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/assur-maison.jpg" alt="Second slide">
              </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<!--<app-nucleo-section></app-nucleo-section>-->
<br>
<section id="team" class="team">

  <div class="container section-title" data-aos="fade-up">
    <h2>Equipe</h2>
    <p>Notre équipe chargée par le développement de cette application</p>
  </div>

  <div class="container">
    <div class="row gy-5">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/ahmed.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Ahmed Balti</h4>
            <span>Développeur</span>
            <p>Chargé du développement de la partie Backend et FrontEnd de l'application</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/anis.jpg" class="img-fluid" alt="">

            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Anis Alouane</h4>
            <span>Consultant CRM</span>
            <p>Chargé de l'encadrement de l'équipe </p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/hamza.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Hamza Amri</h4>
            <span>Manager CRM</span>
            <p>Product Owner de l'équipe </p>
          </div>
        </div>
      </div>
      <!-- Ajoutez d'autres membres de l'équipe similaires ici -->

    </div>
  </div>
</section>

<section class="section section-lg section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row row-grid justify-content-between align-items-center">
      <div class="col-lg-6">
        <h3 class="display-3 text-white">Connectez vous à votre SelfCare
          <span class="text-white">Faites votre connexion avec un simple click</span>
        </h3>
        <p class="lead text-white">La plateforme SelfCare est dotée de plusieurs fonctionnalités innovantes et créatives, il vous faut juste de vous connecter pour y accéder et commencer de les utiliser</p>
        <div class="btn-wrapper">
          <a [routerLink]="['/login']" class="btn btn-success">Login Page</a>
          <a [routerLink]="['/signup']" class="btn btn-white">Register Page</a>
        </div>
      </div>
      <div class="col-lg-5 mb-lg-auto">
        <div class="transform-perspective-right">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-0">
              <!-- Add the logo -->
              <div class="text-center mb-3">
                <img src="./assets/img/brand/inetum.jpg" alt="Logo" class="img-fluid" style="max-width: 130px;">
              </div>
            
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Sign in with</small>
              </div>
              <!-- Add the success message -->
              <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
              </div>
              <!-- Add the error message -->
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <form (ngSubmit)="onSubmit()">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      [(ngModel)]="loginData.Username"
                      name="Username"
                      (focus)="focus=true"
                      (blur)="focus=false"
                      required
                    />
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      [(ngModel)]="loginData.Password"
                      name="Password"
                      (focus)="focus1=true"
                      (blur)="focus1=false"
                      required
                    />
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
