<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <section class="section">
      <div class="container">
        <br>
        <br>

  <div class="container mt-3">
      <h2>Votre liste de contrats</h2>
      <table *ngIf="contracts.length > 0; else noContracts" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Policy Number</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contract of contracts">
            <td>{{ contract.id }}</td>
            <td>{{ contract.policyNumber }}</td>
            <td>{{ contract.startDate | date }}</td>
            <td>{{ contract.endDate | date }}</td>
            <td>{{ contract.isActive ? 'Active' : 'Inactive' }}</td>
            <td>
              <button (click)="renewContract(contract.id)" [disabled]="!contract.isActive">Renew</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noContracts>
        <p>No contracts available.</p>
      </ng-template>
      <br>
  <!-- Ajout du titre et du bouton de téléchargement PDF -->
  <div class="container mt-3">
    <h3>Voulez-vous télécharger la liste de vos contrats ?</h3>
    <button (click)="downloadPdf()">Télécharger PDF</button>
  </div>
  <br>

    </div>
  
  <!--</section>-->
 