<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-100">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Voir toutes les assurances 
                <span>Choisissez ce qui vous convient</span>
              </h1>
              <p class="lead  text-white">Dans cet espace , vous allez trouvez toutes les assurances que vous cherchez , avec des explications claires</p>
            
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/assur-auto.jpg" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Assurance Automobile</h3>
            <p>La voiture est un bien essentiel, voire indispensable, pour assurer votre mobilité. Il est donc important de bien la protéger, ainsi que ses occupants</p>
            <p>On vous offre une large gamme de garanties et de services adaptés pour vous assurer une sécurité optimale et vous propose des études personnalisées pour vous assurer une sérénité et une tranquillité au quotidien.</p>

            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Une expertise rapide</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Prise en charge des réparations</h6>
                  </div>
                </div>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/assur-maison.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Assurance Habitation</h4>
              <p class="lead text-italic text-white">Protéger votre maison des différents dangers</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Assurance Habitation</h3>
            <p class="lead">Maison ou appartement, votre logement est votre petit paradis. C'est là que vit votre famille, que vous gardez vos biens et tous vos souvenirs. Le protéger avec une assurance habitation adaptée à vos besoins est essentiel !
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/assur-voyage.jpg" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Assurance Voyage</h3>
            <p>Vivez vos passions et vos envies de voyage en toute sérénité ! Quelle que soit votre destination, quelle que soit votre passion, on vous assure pour que vos voyages soient toujours synonymes de bons souvenirs.</p>
            <p>On vous offre une large gamme de garanties et de services adaptés pour vous assurer une sécurité optimale et vous propose des études personnalisées pour vous assurer une sérénité et une tranquillité au quotidien.</p>

            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Assistance pendant tout votre séjour</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Voyage protégé et en toute sérénité</h6>
                  </div>
                </div>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/assur-vie.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Assurance Vie</h4>
              <p class="lead text-italic text-white">Protéger votre vie et celle de votre famille</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Assurance Vie</h3>
            <p class="lead">Qui d"entre nous n"a pas le souci de préserver son niveau de vie ? C"est justement ce que vise l"assurance vie : Certains évènements, imprévisibles parfois, peuvent entrainer lorsqu"ils se réalisent, une chute brutale du revenu et par conséquent du niveau de vie.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/assur-sante.jpg" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Assurance Santé</h3>
            <p>On a mis en place un contrat d'assurance collective qui permet à chaque chef d'entreprise d'offrir à ses employés une couverture santé optimale qui, de surcroit, assure une motivation et une fidélisation des collaborateurs.</p>
            <p>Peu importe votre situation, dirigeant de TPE/PME, directeur administratif et financier ou dans les ressources humaines, vous pouvez proposer à vos employés une protection santé optimale et complète adaptée à votre entreprise</p>

            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Règlements en 10 jours au maximum</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Des garanties étudiées et adaptées aux besoins de votre équipe</h6>
                  </div>
                </div>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/assur-credit.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Assurance Crédit</h4>
              <p class="lead text-italic text-white">On vous garantit le remboursement de votre prêt</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Assurance Crédit</h3>
            <p class="lead">L'avenir se dessine pour vous et vous désirez acquérir un bien immobilier, une voiture ou encore effectuer des travaux et vous avez besoin de souscrire un prêt ?
            </p>
            
            <p class="lead">Afin de valider votre dossier de prêt, il vous sera nécessaire d'obtenir une assurance temporaire qui permet de garantir le remboursement du prêt au cas où surviendrait un accident provoquant une invalidité absolue ou définitive ou encore votre décès avant le paiement global de votre crédit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
</main>
