

<main>
 
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <!--section class="section section-lg section-hero section-shaped"-->
      <!-- Background circles -->
      <!--div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div-->
      <section id="hero" class="hero">
        <div class="hero-overlay">
          <img src="assets/img/brand/fond2.jpg" alt="" data-aos="fade-in">
          <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                  <img src="./assets/img/brand/inetum.jpg" style="width: 200px;" class="img-fluid">
                  <p class="lead text">La plateforme Self care offre à nos clients la possibilté de gérer leurs comptes et de leurs offrir une expérience conviviale</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="col-lg-10 text-center overlay-content">
        <h1 data-aos="fade-up" data-aos-delay="100">Bienvenue dans notre plateforme</h1>
        <h1 data-aos="fade-up" data-aos-delay="200">"Self care Assurance"</h1>
      </div>


      
     <section id="services" class="services" style="background-color: #f8f9fa;">
  <div class="container section-title" data-aos="fade-up">
    <h2 class="section-title-heading">Nos Services</h2>
    <p class="section-title-description">Découvrez nos principales services qui améliorent votre expérience avec nous</p>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
          <div class="service-content">
            <h4 class="title"><a href="services-details.html" class="stretched-link">Gestion des devis</a></h4>
            <p class="description">Notre Self-care permet de faire toute une gestion efficace des devis </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
          <div class="service-content">
            <h4 class="title"><a href="services-details.html" class="stretched-link">Gestion des tickets</a></h4>
            <p class="description">Notre application nous permet de faire la gestion des tickets quelque soit des réclamations , des avis ou même des demandes d'information</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
          <div class="service-content">
            <h4 class="title"><a href="services-details.html" class="stretched-link">Gestion des opportunités</a></h4>
            <p class="description">Le Self-care vous permet de voir toutes les opportunités et d'approuver laquelle vous voulez</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
          <div class="service-content">
            <h4 class="title"><a href="services-details.html" class="stretched-link">Gestion des contrats</a></h4>
            <p class="description">Notre application nous permet de faire la gestion de vos contrats</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      
      


        <!-- Hero Section - Home Page -->

      <!--  <section id="hero" class="hero">

          
          <img src="assets/img/fond2.jpg" alt="" data-aos="fade-in">
          
          <div class="container shape-container d-flex align-items-center py-lg">
            
            <div class="col px-0">
              
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                  
                  
                  <img src="./assets/img/LOGO_SAGEMCOM.png" style="width: 200px;" class="img-fluid">
                  
                  <p class="lead text"> entreprise française spécialisée dans les terminaux communicants à forte valeur ajoutée basée à Rueil-Malmaison.</p>-->
               
                  <!--div class="btn-wrapper mt-5">
                    <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                      <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                      <span class="btn-inner--text">Download Angular</span>
                    </a>
                    <a href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                      <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                      <span class="btn-inner--text">
                        <span class="text-warning">Star us</span> on Github</span>
                    </a>
                  </div>
                  <div class="mt-5">
                    <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by</small>
                    <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
                  </div-->
              <!--  </div>
              </div>
            </div>
          </div>
-->
     
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    <!--/section-->
 <!-- </section>--><!-- End Hero Section -->

  </div>
  <app-sections></app-sections>
</main>
