<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/Logo-Inetum-1.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      
      <!-- Left aligned items (Assurances + User-specific links) -->
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <!-- Toujours afficher "Assurances" -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/assurances']">Assurances</a>
        </li>

        <!-- Si l'utilisateur est authentifié -->
        <ng-container *ngIf="isAuthenticated">
          <!-- Si l'utilisateur est Client -->
          <ng-container *ngIf="userRole === 'Client'">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/ticket']">Ticket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/devis']">Devis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/opportunity']">Opportunity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contracts']">Contrat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/sinistres']">Sinistre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/feedback']">Feedback</a>
            </li>
          </ng-container>

          <!-- Si l'utilisateur est User -->
          <ng-container *ngIf="userRole === 'User'">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/ticketManagement']">G.Ticket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/opportunityManagement']">G.Opportunité</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contractsManagement']">G.Contrat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/sinistreManagement']">G.Sinistre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/feedbackList']">G.Feedback</a>
            </li>
          </ng-container>
        </ng-container>
      </ul>

      <!-- Right aligned items (SignIn, SignUp, Logout) -->
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <!-- Si l'utilisateur n'est pas authentifié, afficher SignIn et SignUp -->
        <ng-container *ngIf="!isAuthenticated">
          <li class="nav-item">
            <a class="nav-link nav-link-bold" [routerLink]="['/signup']">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-bold" [routerLink]="['/login']">SignIn</a>
          </li>
        </ng-container>

        <!-- Si l'utilisateur est authentifié, afficher Logout -->
        <ng-container *ngIf="isAuthenticated">
          <li class="nav-item">
            <a [routerLink]="['/userProfile']">
            <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="Profile Image" class="rounded-circle"
              style="width: 40px; height: 40px; object-fit: cover;" />
            </a>
          </li>
  <li class="nav-item">
    <a class="nav-link" (click)="logout()">Logout</a>
  </li>
</ng-container>

      </ul>
      
    </div>
  </div>
</nav>
