<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
 <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
 <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
 <script src="assets/vendor/aos/aos.js"></script>
 <script src="assets/vendor/php-email-form/validate.js"></script>

<br>
<br>
<br>
<br>
<br>
<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>Inetum</span>
        </a>
        <p>"Inetum est une ESN agile, une société de services et de solutions digitales, et un groupe international qui aide les entreprises et institutions à tirer le meilleur du digital flow</p>
        <div class="social-links d-flex mt-4">
          <a href="https://twitter.com/inetum_tn?lang=fr"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/InetumTunisie"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/inetum_tn/?hl=fr"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/company/sagemcom/"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
         
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Product Management</a></li>
   
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contactez-nous</h4>
        <p>	Immeuble Harbour, Avenue De La Bourse , Lac 2 , Tunis, Tunisia </p>
        <p class="mt-4"><strong>Telephone:</strong> <span>70 016 220</span></p>
        <p><strong>Email:</strong> <span> 
          info@inetum.com</span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>&copy; <span>Copyright</span> <strong class="px-1">Inetum</strong> <span>Tous droits réservés</span></p>
   
  </div>

</footer><!-- End Footer -->