<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-100">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <br><br>
      <h2 class="text-center">Cher employé, Bienvenue dans votre espace des feedbacks</h2>
      <br>
      <!-- Cadre blanc pour la distribution des notes et la note moyenne -->
      <h3 class="text-center">La Distribution des Notes :</h3>

      <div class="rating-summary-container">
        <div class="feedback-summary">
          <div *ngFor="let item of ratingDistribution" class="rating-row">
            <div class="rating-stars">{{ item.rating }} étoiles</div>
            <div class="rating-bar-container">
              <div class="rating-bar" [style.width.%]="(item.count / totalFeedbacks) * 100"></div>
            </div>
            <div class="rating-percentage">{{ ((item.count / totalFeedbacks) * 100) | number:'1.0-0' }} %</div>
          </div>
          <br>
          <br>

          <h3 class="text-center">
            <span class="note-moyenne-title">Note Moyenne</span> : 
            <span class="average-rating">{{ averageRating | number:'1.1-1' }} / 5</span>
          </h3>
          
        </div>

        </div>

       
      <h3 class="text-center mt-5">La Liste Des Commentaires Des Clients:</h3>
      <br>
      <div *ngFor="let comment of comments" class="comment-container">
        <div class="comment-header">
          <img [src]="comment.profileImageUrl" alt="Profile Image" class="comment-user-icon" />
          <div class="comment-user-details">
            <strong>{{ comment.userName }}</strong>
          </div>
        </div>

      <!-- Section des étoiles -->
<div class="comment-rating">
  <span *ngFor="let star of [1, 2, 3, 4, 5]">
    <i class="fas" [ngClass]="star <= comment.rating ? 'fa-star filled' : 'fa-star empty'"></i>
  </span>
</div>


        <!-- Commentaire du client -->
        <p class="comment-text">{{ comment.comment }}</p>

        <!-- Date de création -->
        <div class="comment-date">
          {{ comment.dateCreated | date:'dd MMM yyyy' }}
        </div>

        <hr /> <!-- Ligne de séparation entre chaque commentaire -->
      </div>

      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>
